<div class="container">
    {{#if page}}
    <div class="d-flex justify-content-center flex-column align-items-center mt-5">
        <button id="users" type="button" class="mt-5 btn btn-secondary">Пользователи</button>
        <button id="venues" type="button" class="mt-5 btn btn-secondary">Площадки</button>
    </div>
    {{else}}
    <div class="d-flex flex-row justify-content-evenly align-items-baseline mt-5 mb-5">
        <button id="page" type="button" class="col-3 mt-5 btn btn-secondary">Назад</button>
        <h1 class="col-8">{{pageName}}</h1>
    </div>
    {{/if}}

    {{#if users}}
    <form class="d-flex justify-content-center flex-column align-items-center">
    <select id="userSelect" class="form-select" aria-label="Выберите пользователя...">
        <option selected>Выберите пользователя...</option>
    {{#each users}}
        <option value="{{dataValues.id}}">{{dataValues.email}}</h1>
    {{/each}}
    </select>
    </form>
    <form id="userForm" class="d-none d-flex justify-content-center flex-column align-items-center">
        <div class="input-group mb-2 mr-sm-2">
            <input type="text" class="form-control" name="username" id="inlineFormInputGroupUsername2" placeholder="Username" >
            <div class="input-group-prepend">
                <div class="input-group-text" style="border-radius: 0 0.375rem 0.375rem 0px; !important">Username</div>
            </div>
        </div>
        <div class="input-group mb-2 mr-sm-2">
            <input type="text" class="form-control" name="email" id="inlineFormInputGroupUsername2" placeholder="Email" >
            <div class="input-group-prepend">
                <div class="input-group-text" style="border-radius: 0 0.375rem 0.375rem 0px; !important">Email</div>
            </div>
        </div>
        <div class="input-group mb-2 mr-sm-2">
            <input type="text" class="form-control" name="password" id="inlineFormInputGroupUsername2" placeholder="Password" >
            <div class="input-group-prepend">
                <div class="input-group-text" style="border-radius: 0 0.375rem 0.375rem 0px; !important">Password</div>
            </div>
        </div>
        <div class="input-group mb-2 mr-sm-2">
            <select id="role" class="form-select" name="role">
            </select>
            <div class="input-group-prepend">
                <div class="input-group-text" style="border-radius: 0 0.375rem 0.375rem 0px; !important">Role</div>
            </div>
        </div>
        <div class="input-group mb-2 mr-sm-2">
            <input type="text" class="form-control" name="id" id="inlineFormInputGroupUsername2" placeholder="ID" disabled>
            <div class="input-group-prepend">
                <div class="input-group-text" style="border-radius: 0 0.375rem 0.375rem 0px; !important">ID</div>
            </div>
        </div>
        <input type="submit" role="button" class="mt-2 form-control btn btn-secondary" value="Изменить">
        <input id="delete" role="button" class="mt-2 form-control btn btn-warning text-muted" value="Удалить">
    </form>
    {{/if}}
    <script src="/js/main.js"></script>
    <script src="/js/admin.js"></script>
</div>