<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/main.css" rel="stylesheet" />
    <link href="/css/settings.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="/img/icon.png" />
    <script src="/dist/js/bootstrap.bundle.min.js"></script>
    <title>Настройки профиля</title>
</head>

<body id="background">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" aria-label="Tenth navbar example">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08"
                aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">XSOUND</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Профиль</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/event">Мероприятия</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="dropdown08" data-bs-toggle="dropdown"
                            aria-expanded="false">Аккаунт</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown08">
                            <li>
                                <a class="dropdown-item active" href="/settings">Настройки профиля</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/logout">Выйти</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="loadingSpinnerContainer" class="untransparent d-flex justify-content-center align-items-center vh-100">
        <div id="loadingSpinner" class="spinner-border text-white" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div id="profile-container" class="container rounded bg-white mt-5 mb-5 transparent">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="150px" id="account" src="/img/icon.png" /><span
                        id="username" class="font-weight-bold">Username</span><span id="email"
                        class="text-black-50">edogaru@mail.com.my</span><span></span>
                    <label for="accountImage"
                        class="mt-5 w-100 custom-file-upload d-flex justify-content-center align-items-center">
                        <input id="accountImage" type="file" class="form-control" style="display: none" />
                        <span>Изменить иконку профиля</span>
                    </label>
                    <small for="colorInput" class="mt-4 form-label text-muted">Color picker</small>
                    <input type="color"
                        class="form-control form-control-color mt-4 w-100 custom-file-upload d-flex justify-content-center align-items-center"
                        id="colorInput" value="#563d7c" title="Choose your color" />
                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex flex-column align-items-center flex-direction-colum mb-3">
                        <h4 class="text-right">Настройки профиля</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6 d-flex flex-column align-items-center flex-direction-colum">
                            <label class="labels">Имя</label><input id="name" type="text" class="form-control"
                                placeholder="NAME" value="" />
                        </div>
                        <div class="col-md-6 d-flex flex-column align-items-center flex-direction-colum">
                            <label class="labels">Фамилия</label><input id="surname" type="text" class="form-control"
                                value="" placeholder="SURNAME" />
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12 d-flex flex-column align-items-center flex-direction-colum">
                            <label class="labels">О себе</label><textarea style="resize: none" rows="8" cols="10"
                                id="about" type="text" class="form-control" placeholder="ABOUT" value=""></textarea>
                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <button class="w-100 btn btn-primary profile-button" id="saveChanges" type="button">
                            Сохранить изменения
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5" id="musician-information">
                    <!-- <div class="d-flex justify-content-between align-items-center experience">
                        <span>Карточка музыканта</span>
                        <span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Preview</span>
                    </div> -->
                    <br /><!-- 
                    <div class="col-md-12">
                        <label
                            class="labels d-flex flex-column align-items-center flex-direction-colum">Псевдоним</label><input
                            type="text" class="form-control" placeholder="MUSIC NAME" value="" id="musician-name" />
                    </div> -->
                    <br />
                    <div class="col-md-12">
                        <label class="labels mb-3 d-flex flex-column align-items-center flex-direction-colum">Ссылки на
                            сервисы</label>
                        <div class="input-group mb-2">
                            <input id="links_vk" type="text" class="form-control" placeholder="vk.com" value="" />
                            <span class="input-group-text">VK</span>
                        </div>
                        <div class="input-group mb-2">
                            <input id="links_tg" type="text" class="form-control" placeholder="t.me" value="" />
                            <span class="input-group-text">TELEGRAM</span>
                        </div>
                        <div class="input-group mb-2">
                            <input id="links_ya" type="text" class="form-control" placeholder="music.yandex.ru"
                                value="" />
                            <span class="input-group-text">YANDEX MUSIC</span>
                        </div>
                        <div class="input-group mb-2">
                            <input id="links_yt" type="text" class="form-control" placeholder="youtube.com" value="" />
                            <span class="input-group-text">YOUTUBE</span>
                        </div>
                        <label for="bgfileInput"
                            class="mt-5 w-100 custom-file-upload d-flex justify-content-center align-items-center">
                            <input id="bgfileInput" type="file" class="form-control" style="display: none" />
                            <span>Загрузить обложку профиля</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-secondary fixed-bottom mb-4 transparent" role="alert"></div>
    <div class="footer fixed-bottom">
        <footer>
            <div id="line-container">
                <div id="line">
                    <p>
                        XSOUND XSOUND XSOUND XSOUND XSOUND XSOUND XSOUND
                        XSOUND XSOUND XSOUND XSOUND XSOUND XSOUND XSOUND
                        XSOUND XSOUND XSOUND XSOUND XSOUND XSOUND XSOUND
                        XSOUND XSOUND XSOUND XSOUND XSOUND XSOUND XSOUND
                        XSOUND XSOUND XSOUND XSOUND XSOUND XSOUND XSOUND
                        XSOUND XSOUND XSOUND XSOUND XSOUND
                    </p>
                </div>
            </div>
        </footer>
    </div>
    <script src="/js/anim.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/settings.js"></script>
</body>

</html>