body {
    height: auto;
}

p {
    margin: 0;
    padding: 0;
}

.card {
    position: relative; /* Устанавливаем позицию для относительного позиционирования псевдоэлемента */
}

.card::after {
    content: '';
    position: absolute;
    bottom: -0.5rem; /* Сдвигаем прямоугольник вниз, чтобы он был виден под карточкой */
    left: -0.5rem;
    width: calc(
        100% + 1rem
    ); /* Увеличиваем ширину прямоугольника на 20px по каждой стороне */
    height: calc(100% + 1rem); /* Увеличиваем высоту прямоугольника */
    border-radius: 1rem;
    background-color: #336699; /* Цвет прямоугольника */
    z-index: -1; /* Устанавливаем z-index, чтобы прямоугольник был "под" карточкой */
}

.card:hover {
    box-shadow: 0px 0px 0.2rem 0.1rem rgba(255, 255, 255, 0.4); /* Эффект свечения */
}

/* Стили для классов состояния */
.card.st-1::after {
    background-color: #979797;
}

.card.st-2::after {
    background-color: #336699;
}

.card.st-3::after {
    background-color: #769abe;
}

.card.st-4::after {
    background-color: #993363 !important;
}

.card.st-5::after {
    background-color: #c24e4e;
}

.chat-container {
    bottom: 0;
    right: 0;
    max-width: 100%; /* Максимальная ширина чата */
    margin: 0; /* Убираем отступы */
    padding: 0; /* Убираем отступы */
    z-index: 999; /* Чат будет отображаться поверх других элементов */
}

.card {
    position: relative; /* Устанавливаем позицию для относительного позиционирования псевдоэлемента */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2); /* Тень вокруг карточки */
    margin: 10px; /* Отступы внутри контейнера */
}

.card-header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-body {
    max-height: 100%; /* Максимальная высота чата */
    max-width: 100%; /* Максимальная ширина чата */
    overflow-y: auto; /* Скролл при переполнении */
}

.form-outline {
    margin-top: 10px;
}

.circle {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.icon {
    width: 50px;
    height: 50px;
}

.chat-fixed {
    position: fixed;
    bottom: 35px;
    right: 15px;
}

.circle img {
    margin-left: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}
