body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

nav {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.gif-background {
    flex: 1;
    background: url('public/img/leary-avantgarde.gif') center/cover no-repeat;
}
